.form__field {
    background-color: #ffffffcc;
    border: 1px solid;
    border-radius: 5px;
    border-color: teal;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 20px 0px rgba(66, 68, 90, 1);
}

.form__legend {
    border: 1px solid;
    border-color: teal;
    background-color: teal;
    color: white;
    border-radius: 5px;
    padding: 2px;
}

.form__amount {
    border: 1px solid;
    border-radius: 5px;
    margin: 2px 5px;
    width: 200px;
}

.form__amount:hover {
    background-color: #0080803b;
}

.form__currency {
    border: 1px solid;
    border-radius: 5px;
    margin: 2px 5px;
    width: 200px;
}

.form__currency:hover {
    background-color: #0080803b;
}

.form__result {
    margin: 20px;
}

.form__button {
    border-color: teal;
    background-color: teal;
    color: white;
    border: 3px solid teal;
    border-radius: 5px;
    margin: 2px 5px;
    cursor: pointer;
    box-shadow: 3px 3px #00808070;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
}