html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  max-width: 400px;
  text-align: left;
  margin: auto;
  background-image: url("../public/background2.jpg");
  background-size: cover;
}

.header {
  border: 2px solid teal;
  border-radius: 5px;
  background-color: teal;
  margin: 15px auto;
  width: 255px;
  color: white;
  text-align: center;
  text-shadow: 2px 3px teal;
}